@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
    display: flex;
    justify-content: space-around;
}

.link {
    list-style: none;
    text-decoration: none;
    margin: 10px;
}

h1 {
    text-align: center;
}